  <footer class="footer">
    <div class="navbar navbar-default navbar-fixed-bottom" role="navigation" >
      <div class="container">
        <p class="text-muted">Copyright © 2015 by <%= link_to "Androbotics Clark Inc,", 'http://androbotest.t15.org/androboticsclark/' %>. All Rights Reserved. / <%= link_to "About", '#' %> / <%= link_to "Terms & Conditions", '#' %> / <%= link_to "Privacy", '#' %></p>
      </div>
    </div>
  </footer>
</div>
