<h2>Add New Advertisement</h2>
<div>
	<div class="col-xs-6">
		<h3>Basic Information</h3>
		<hr>
		<table cellpadding="5" cellspacing="5" class="table-post">
			<tbody>
				<tr>
					<td>Floor Area (in sqm.):</td>
					<td><input type="text" placeholder="i.e. 20"></td>
				</tr>
				<tr>
					<td>Furnishing:</td>
					<td>
						<select class="opt">
							<option>--Choose one--</option>
							<option>Fully Furnished</option>
							<option>Semi Furnished</option>
							<option>Unfurnished</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>Bedrooms:</td>
					<td>
						<select>
							<option>Studio</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
							<option>6</option>
							<option>7</option>
							<option>8</option>
							<option>9</option>
							<option>10</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>Bathrooms:</td>
					<td>
						<select>
							<option>none</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
							<option>6</option>
							<option>7</option>
							<option>8</option>
							<option>9</option>
							<option>10</option>
						</select>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-xs-6">
		<h3>Rental Rates</h3>
		<hr>
		<table cellpadding="5" cellspacing="5" class="table-post">
			<tbody>
				<tr>
					<td>Daily Rate:</td>
					<td>Php<input type="text" placeholder="i.e. 2,000.00"></td>
				</tr>
				<tr>
					<td>Weekly Rate:</td>
					<td>Php<input type="text" placeholder="i.e. 5,000.00"></td>
				</tr>
				<tr>
					<td>Monthly Rate:</td>
					<td>Php<input type="text" placeholder="i.e. 12,000.00"></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="col-xs-12">
	<h3>Location and Address</h3>
	<hr>
	<table cellpadding="5" cellspacing="5" id="table-post-local" class="table-post">
		<tbody>
			<tr>
				<td>Name of Building or Village:</td>
				<td><input type="text" placeholder="i.e. The Residences"></td>
			</tr>
			<tr>
				<td>Unit Number or House Number:</td>
				<td><input type="text" placeholder="i.e. 123"></td>
			</tr>
			<tr>
				<td>Floor:</td>
				<td><input type="text" placeholder="i.e. 12th"></td>
			</tr>
			<tr>
				<td>Street, Neighborhood & Barangay:</td>
				<td><input type="text" placeholder="i.e. Aquino St. Meralco Village"></td>
			</tr>
			<tr>
				<td>City:</td>
				<td>
					<select>
						<option>--Choose one--</option>
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
						<option>6</option>
						<option>7</option>
						<option>8</option>
						<option>9</option>
						<option>10</option>
					</select>
				</td>
			</tr>
		</tbody>
	</table>
	</div>

	<div class="col-xs-12">
	<h3>Title and Description</h3>
	<hr>
	<table cellpadding="5" cellspacing="5" id="table-post-title" class="table-post">
		<tbody>
			<tr>
				<td>Title:</td>
				<td><input type="text" placeholder="i.e. Fully Furnished Two Bedrooms with Nice View of Sunset"></td>
			</tr>
			<tr>
				<td>Description:</td>
				<td>
					<div><span>Tell us about the important details about your unit</span></div>
					<div>
						<div id="editor" contenteditable="true"></div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>

	<input type="submit" value="Proceed to Adding Photos" class="btn btn-primary" style="float: right; margin-right:170px; margin-top:50px;">
	</div>
</div>