<h2>Add New Advertisement</h2>
<div>
	<h3>Basic Information</h3>
	<hr>
	<h3>Rental Rates</h3>
	<hr>
	<h3>Location and Address</h3>
	<hr>
	<h3>Property Details</h3>
	<hr>
	<h3>Title and Description</h3>
	<hr>
</div>