/*Global*/

.page-wrapper {
  padding-top: 50px;
  padding-bottom: 60px;
}

#main-container .top-page img:hover
{
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

/*Front Page*/
.top-page {
  padding-top: 50px;
  padding-bottom: 20px;
  background: #f5f5f5 url("/assets/bg-front.jpg");
  height: 550px;
  width: 100%;
  background-size: 100% 100%;
  position: relative;
  margin: 0 auto;
}

.top-page .tagline {
  text-align: center;
  margin-top: 100px;
  color: #FFFFFF;
}

.tagline > h1, h3 {
  text-shadow: 2px 2px #333333;
}

/*Featured Content*/

#featured-content .col-xs-4 {
  margin-bottom: 50px;
}

#featured-content .col-xs-4 > a > img {
  max-height: 330px;
  max-width: 330px;
  background-size: 100% 100%;
  border: #000000 1px solid;
}

#featured-content .col-xs-4 > img:hover {
  border: red 1px solid;
}

/*Partners-Wrapper*/

.partners-wrapper .col-xs-3 {
  text-align: center;
  margin-bottom: 50px;
}

.partners-wrapper .col-xs-3 > a > img {
  text-align: center;
  width: 200px;
  height: 100px;
  background-size: 100% 100%;
}

/*Connect Wrapper*/

.connect-wrapper .row {
  background-color: black;
  padding-top: 20px;
  padding-bottom: 50px;
  color: #FFFFFF;
}

.connect-wrapper .col-xs-3{
  text-align: center;
}

.connect-wrapper .col-xs-3 > a > img {
  text-align: center;
  width: 50px;
  height: 50px;
  background-size: 100% 100%;
}

/*Footer*/

.navbar-fixed-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

.footer .container {
  padding-right: 15px;
  padding-left: 15px;
}

.container .text-muted {
  margin: 20px 0;
}

/*Log In Page*/

.log-in-wrapper {
  width: 500px;
  margin: 0 auto;
  padding: 10px;
}

.log-in-wrapper > h2 {
  text-align: center;
}

/*Table Post*/
.table-post {
  vertical-align: top;
  margin: 10px;
  margin-left: 30px;
}

.table-post td {
  padding: 5px;
  vertical-align: initial;
}

.table-post select {
  width: 200px;
  padding: 5px;
}

#table-post-local input {
  width: 500px;
}

#table-post-title input {
  width: 850px;
}

#editor {
  width: 850px;
  max-height: 300px;
  height: 300px;
  border: 1px solid rgb(204,204,204);
  padding: 4px;
  box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px 0px inset;
  border-radius: 3px;
  overflow: scroll;
  outline: none;
}

#btn-add-post {
  float: right;
  margin-right:170px;
  margin-top:50px;
}

.post-wrapper h3 {
  background-color: #0066ff;
  color: #ffffff;
}


/*Show Post*/
.show-post-wrapper form {
  border: 1px solid;
  border-radius: 10px;
}

#slider .item img{
    margin: 0 auto;
    display: block;
    width: auto;
    max-height: 400px;
    background-size: 100% 100%;
}